.section {
	/*background-image: url("images/intro-back-1.jpg");*/
}

.create_acc {
	width: 30%;
	height: 70vh;
	/*display: block;*/
	display: flex;
	flex-direction: column;

	/*justify-content: center;*/
	align-items: center;
	margin: 0 auto;

	border: 1px solid #797a7e;
	border-radius: 5px;
	/*background-color: white;*/
}

input {
	width: 250px;
	height: auto;
	/*border-radius: 3px;*/
}

form {
	display: flex;
	flex-direction: column;
}