body {
	margin: 0;
	line-height: 1.6;
	font-size: 15px;
	font-family: 'Vidaloka', serif;
	color: #797a7e;

	/*background-color: lightpink;*/
}

*, *:before, *:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.container {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/*HEADER*/
.header {
	width: 100%;
	/*height: 150px;*/

	padding: 10px 80px;
	background-color: #f7f2e7;

	display: block;
}
.header_in {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_logo {
	font-size: 40px;
	font-weight: bold;
}
.search /*input[type=text] */ {
	width: 300px;
	height: 40px;
	padding: 7px 20px;
	border-radius: 5px;
	font-family: 'Vidaloka', serif;
}
/*Nav*/ 
.nav {
	/*display: flex;
	justify-content: space-around;
	align-items: center;*/
}
.nav_link {
	display: inline-block;
	/*vertical-align: top;*/
	margin: 0 10px;

	text-decoration: none;
	color: #797a7e;

	transition: color 0.2s linear;
}
.nav_link:hover {
	color: #c7c2bc;
	text-decoration: underline;
}

.header_bottom {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_bttm_link {
	margin: 0 30px;
	color: #797a7e;
	text-transform: uppercase;
	font-size: 14px;

	transition: color 0.2s linear;
}
.header_bttm_link:hover {
	color: #c7c2bc;
}


/*SECTION*/
.section {
	width: 100%;

	padding: 10px 0px;
	/*background-color: pink;*/

	/*background-size: 100%;*/
}
.section_in {
	display: inline;
	/*нужно между блоками пустые строки сделать*/
}
.section_main {}
.intro {
	width: 100%;
	height: 80vh;
	background-image: url('images/intro-back.jpg');
	background-repeat: no-repeat;

	font-size: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	/*color: #cc0000; bordovyi*/
	/*color: #ff6666; nejno pink*/
	/*color: #f58080; toje ottenok nejnopink*/
	/*color: #cc6666; korichnevo pink*/
	color: #564343;
}

.recomendations {}
.categories {
	margin: 20px;
}

.cat_cards {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.cat_card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/*text-decoration: none;*/
	color: black;
	font-size:20px;
	text-transform: uppercase;
}
.cat_card_img {
	width: 200px;
	height: auto;
}

/*FOOTER*/
.footer {
	width: 100%;
	margin-top: auto;

	z-index: 1000;
	padding: 10px 80px;
	background-color: #f7f2e7;
}
.footer_in {
	display: block;
	align-items: center;
}
.footer_up {
	display: flex;
	justify-content: space-between;
}
.footer_down {
	display: flex;
	justify-content: center;
	font-size: 12px;
}
.footer_links {
	display: flex;
}
.footer_link {
	margin: 0 20px;
	text-decoration: none;
	color: #797a7e;
}
.footer_social {/*icons*/}