<div class="section">
			<div class="section_in">
				<div class="section_main">
					<div class="intro">
						A shop about books and art.
					</div>
					<div class="recomendations"></div>
					<div class="categories">
						
						<div class="cat_cards">
							<a href="/books" class="cat_card">
								<img src="books/books/cover.jpg" class="cat_card_img">
								Books
							</a>
							<a href="art" class="cat_card">
								<img src="art.jpg" class="cat_card_img">
								Art
							</a>
							<a href="accessories" class="cat_card">
								<img src="accessories/book-led.jpg" class="cat_card_img">
								Accessories
							</a>
							<a href="apparel" class="cat_card">
								<img src="apparel/hoodie-black.jpg" class="cat_card_img">
								Apparel
							</a>
							<a href="furniture" class="cat_card">
								<img src="furniture/bookholder-hand.jpg" class="cat_card_img">
								Furniture
							</a>
						</div>
					</div>

					<div class="secndLife">
						<div class="secndLifeDesc">
							<article><span style="font-size: 30px;">Do you read a lot? </span>And then the books you read collect dust on the shelves? We have an offer for you. You can put your book up for sale and also view and purchase other people's books. This is how we give a second life to our beloved books.</article>

							<div class="secndLifeDescLinks">
								<a href="/secndLifeBooks" class="secndLifeDescLink">View available books</a>
								<a href="#" class="secndLifeDescLink">Post an Ad</a>
							</div>
							
						</div>

						<img class="secndLifeImg" src="images/2nd life books/cover2.jpg">
					</div>


		</div>
	</div>
</div>