<div class="section">
	<div class="list_in">
		<div class="products">

			{{#each item}}
			<a href="" class="product">
				<img src='{{this.image_url}}' class="product_img">
				<span class="product_name">{{this.name}}</span>
				<span class="product_price">{{this.price}}</span>
			</a>
			{{/each }}
					
		</div>
	</div>
</div>